* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #f2fff2;
    height: 100vh;
}

.header {
    background-color: #c70039;
    padding: 1rem;
    text-align: center;
    color: white;
}

.place-title {
    font-size: 1.8rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.image-container {
    text-align: center;
    width: 100%;
    border-top: 20px solid blue;
}


.large-image {
    display: block;
    max-height: 90vh;
    width: 100%;
}

.small-image {
    display: none;
}

.data-section,
.weather-section {
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.data-section h2,
.weather-section h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #c70039;
}

.data-section ul,
.weather-section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.3rem 0;
    font-size: 1rem;
    gap: 10px;
}

.bold {
    font-weight: bold;
}

.mobile {
    font-size: 0;
    display: none;
}

.desktop {
    display: block;
}

.weather-icon {
    height: 50px;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #c70039;
    padding: 1rem;
    color: white;
    width: 100%;
}


@media screen and (max-width: 414px) {
    .main-content {
        flex-direction: column;
    }

    .image-container {
        flex-direction: column;
        width: 100%;
        border-bottom: 10px solid #c70039;
    }

    .data-section h2,
    .weather-section h2 {
        border-bottom: 2px solid #c70039;
    }

    .large-image {
        display: none;
        flex: 3;
    }

    .small-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .mobile {
        display: inline-block;
        font-size: 2rem;
    }
    .desktop {
        display: none;
    }

    footer {
        border-top: 1px solid #ccc;
    }
}

@media screen and (min-width: 415px) {

    .data-section {
        position: absolute;
        top: 150px;
        left: 20px;
        width: 350px;
    }

    .weather-section h2,
    .data-section h2 {
        text-align: left;
        background-color: blue;
        width: 100%;
        color: white;
    }

    .weather-section {
        position: absolute;
        top: 900px;
        right: 20px;
        width: 250px;
    }

    .desktop {
        fill: white;
        stroke: white;
    }

    .weather-container {
        display: flex;
        flex-direction: row;
        background-color: blue;
        align-items: center;
    }
    
    .image-container {
        position: absolute;
        top: 75px;
        height: 100vh;
    }

    footer {
        bottom: 0;
        position: absolute;
    }
}